<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <!--Title-->
    <h1 class="title"> Project <img class="compass_icon"src="img/compass102.svg"> Compass</h1>
    <!-- Map Section -->
    <div id="map"></div>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <p>Copyright &copy; Project Compass</p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <div class="login">
    Logged in as: <b>{{ user_name }}</b><br>
    </div>
    <a class ="login-link" href="{{ url|safe }}">{{ url_linktext }}</a>
    {% if admin %}
        <form action="/post?{{ map_name }}" enctype="multipart/form-data" method="post">
            <div class="photo-upload">
                <label>Photo:</label> <br>
                <input type="file" name="img"/>
            </div>
            <div class="photo-loc">
                <label>Location:</label> <br>
                <textarea name="location" rows="1" cols="60"></textarea>
            </div>
            <div class="photo-desc">
                <label>Description:</label> <br>
                <textarea name="description" rows="3" cols="60"></textarea>
            </div>
            <input type="submit" value="Submit Photo">
        </form>
    {% endif %}

</body>

</html>
