<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <!--Title-->
    <h1 class="title"> Project <img class="compass_icon"src="img/compass102.svg"> Compass</h1>
    <!-- Map Section -->
    <div id="map"></div>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <p>Copyright &copy; Project Compass</p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>


    <script>
        function initMap() {
            var san_fran = {lat: 37.7739, lng: -122.4312};
            var points = {{ points }};
            var content = {{ content }};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: san_fran
            });

            for (i = 0; i < content.length; i++) {
                var point = points[i];
                var coords = {lat: point[0], lng: point[1]};
                var contentString = content[i];
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    html: contentString
                });
                marker.addListener('click', function() {
                    infowindow.setContent(this.html);
                    infowindow.open(map, this);
                });
            }
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrBdkhBivFI73bM5S4VUg1JLnl4UQPu1g&signed_in=true&callback=initMap"></script>

    {% for photo in photos %}
        <div>
            <img src="/img?img_id={{ photo.key.urlsafe() }}">
        </div>
        <div>
            <b>{{ photo.location }}</b>
        </div>
        <div>
            <em>{{ photo.description }}</em>
        </div>
    {% endfor %}

    <div class="login">
    Logged in as: <b>{{ user_name }}</b><br>
    </div>
    <a class ="login-link" href="{{ url|safe }}">{{ url_linktext }}</a>
    {% if admin %}
        <form action="/post?{{ map_name }}" enctype="multipart/form-data" method="post">
            <div class="photo-upload">
                <label>Photo:</label> <br>
                <input type="file" name="img"/>
            </div>
            <div class="photo-loc">
                <label>Location:</label> <br>
                <textarea name="location" rows="1" cols="60"></textarea>
            </div>
            <div class="photo-desc">
                <label>Description:</label> <br>
                <textarea name="description" rows="3" cols="60"></textarea>
            </div>
            <input type="submit" value="Submit Photo">
        </form>
    {% endif %}

</body>

</html>
